DATABASE_URL=postgresql://lavender:lavender@localhost:5432/lavenderhealth
REDIS_URL=redis://localhost:6379/0
APOLLO_API_KEY= gAnUbCIP6tM0CmWf163fEQ
GEMINI_API_KEY= AIzaSyCWd4i2O_Ui5bMmPDR3naegNWnbPXlnECM
PROXY_URL=
MAX_REVIEWS_DEFAULT=200
